

.content{
    margin-left: 10px;
}

.events {
    position: relative;
    margin: 0.5em;
}

.event {
    display: flex;
}

.text{
    margin-left: 20px;
}

.events::before {
    content: "";
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    background: var(--highlight-text-color);
}

.marker { 
    z-index: 3;
}

.content time {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

.event .marker {
    position: relative;
    left: -6px;
    top: 0px;
    z-index: 3;
    fill: var(--highlight-text-color); 
    min-width: 13px;
    max-width: 13px;
  }
.event {
    align-items: baseline;
}

.content p{
    margin-top: -10px;
    font-size: 1.2rem;
}

.content a{
    color: var(--highlight-text-color);
    text-decoration: none;
}

.content a:hover{
    color: var(--accent-color);
}

.timeline-h2{
    color: var(--main-text-color);
}



  