html{
  height: 100vh;
}


.contacts-title{
  font-size: 3em;
  position:relative;
  width: 100vw;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: -5px;
}

.contacts-container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.contact{
  display: flex;
  width: 700px;
  height: 500px;
  max-height: 130px;
  overflow: hidden;
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 4px solid var(--highlight-text-color);
  transition: ease 250ms;
}

.contact h1{
  font-size: 1.8em;
  color: var(--highlight-text-color);
}

.contact p{
  margin-bottom: -20px;
  color: var(--highlight-text-color);
}

.contact-img{
  color: var(--highlight-text-color);
  font-size: 8em;
  
}

.contact-image-container{
  flex: 1;
  margin: 0 30px;
  text-align: right;
  position: relative;
  bottom: -5px;
  
}

#phone-image-container{
  text-align: left;
}

#discord-image{
  margin-top: -23px;
  font-size: 10em;
}

#email-image{
  margin-top: -15px;
  font-size: 10em;
}

#email, #discord{
  text-align: left;
  justify-content: left;
}



@media (min-width: 484px){
  #phone{
    text-align: right;
    justify-content: right;
  }
  .contact:hover{
    background-color: var(--main-text-color);
    color: var(--accent-color);
    cursor: pointer;
    transition: ease 250ms;
    border: 4px solid var(--background-color);
  }
  
  .contact:hover h1, .contact:hover p, .contact:hover .contact-img{
    color: var(--background-color);
    transition: ease 250ms;
  }
  
  .contact:hover .contact-img{
    color: var(--background-color);
    transition: ease 250ms;
  }
}

.tooltip{
  transition: ease 200ms;
  position: absolute;
  transform: translate(-50%, -120%);
  padding: 8px 12px;
  background-color: var(--link-color);
  color: var(--background-color);
  border-radius: 5px;
  font-size: 1.2em;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  white-space: nowrap;
  pointer-events: none;
  opacity: 0; /* Start with full transparency */
  animation: fadeIn 1.3s ease-out forwards; /* Apply the fade-in animation */
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90%{
    opacity: 1;
  }
  100%{
    opacity: 0;
  }
}

@media (max-width: 480px){
  .contact{
    display: flex;
    flex-direction: row;
    width: 80vw;
    height: 10vh;
    overflow: hidden;
    margin-top: 20px;
    padding: 0;
    border-radius: 0;
    border: none;
    transition: ease 250ms;
    border-bottom: 1px solid var(--highlight-text-color);
    padding-bottom: 20px;
  }
  

  .contact-text{
    width: 60vw;
  }

  .contact p{
    position: relative;
    text-align: left;
    margin-bottom: -10px;
    z-index: 2;
    font-size: 3.8vw;
  }
  
  .contact h1{
    text-align: left;
    position: relative;
    font-size: 4.1vw;
    z-index: 2;
  }
  
  .contact-img{
    color: var(--highlight-text-color);
    z-index: 1;
    margin: 0;
  }

  .contact-image-container{
    order: -1;
    font-size: 1.1vw;
    position: relative;
    z-index: 1;
    flex: 0 ;
    width: fit-content;
    
    margin: 0;
    margin-right: 10px;
    bottom: 0px;
    align-content: center;
  }

  .contacts-title{
    font-size: 18vw;
    position:relative;
    
    text-align: center;
    color: var(--main-text-color);
    margin-bottom: 50px;
    
  }

  #discord-image, #email-image, #phone-image{
    margin: 0 0;
    margin-bottom: -10px;
  }
  
  #email-image{
    margin-top: -15px;
    font-size: 10em;
  }
}

@media (max-width: 780px){
  
}