:root {
  --background-color: black;
  --highlight-text-color: #b5cfb7;
  --main-text-color: #b5cfb7;
  --accent-color: #356338;
  --link-color: #457f4a;
  --mid-color: #6b966e;
  --drawer-button-color:#dbffdf;
  --try:#86755e;
}

* {
  -webkit-tap-highlight-color: transparent;
}

html, body {
  max-width: 100%;
  height: 100vh;
  overflow-x: hidden;

}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  margin: 0 ;
  height: 100vh;
  z-index: 1;
  transition: 200ms ease;
}

h1, h2 {
  color: white;
}
