.skills-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-title{
    font-size: 3em;
    color: var(--main-text-color);
    margin-top: 200px;
}

@media(max-width: 484px){
    .skills-title{
        font-size: 7vw;
        color: var(--main-text-color);
    }
}

.work-list{
    color: white;
}