:root {
  --background-color: black;
  --highlight-text-color: #b5cfb7;
  --main-text-color: #b5cfb7;
  --accent-color: #708972;
  max-height: 100vh;
  overflow-y: scroll;
}

.contacts-title{
  position:relative;
  width: 100vw;
  text-align: center;
  color: var(--main-text-color);
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 70vh;
  padding: 0;
  margin: 0;
  margin-top: 20vh;
}

@media (max-width: 1450px) {
  .contacts-title{
    position: absolute;
    width: 100vw;
    margin-bottom:80vh;
    text-align: center;
    color: var(--main-text-color);
    overflow:visible
  }

  .card-container {
    flex-direction: column;
    padding-bottom: 0;
    margin-top: 10vh;
    min-height: 800px;;
    align-items: center;
    height: 90vh;
  }
}

@media (max-height: 800px){
  .contacts-title{
    position: absolute;
    
    margin-bottom:410px;
    
  }
}


@media (max-height: 800px) and (max-width: 1450px) {
  .contacts-title{
    position: absolute;
    top: -6vh;  
  }

  .card-container {
    flex-direction: column;
    padding-bottom: 0;
    margin-top: 10vh;
    min-height: 800px;
    align-items: center;
    height: 90vh;
  }
}

/* MOBILE */
@media (max-width: 484px) {
  
  .card-container {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 80vh;
    min-height: 0;
    padding: 0;
    margin: 0;
    top: 3vh;
    margin-top: 100px;
  } 
}
