:root {
  --background-color: black;
  --highlight-text-color: #B5CFB7;
  --main-text-color: #B5CFB7;
  --accent-color: #000000;
}


.home-container{
    padding-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    margin-top: -100px;
    min-height: 800px;
}

.henrique{
  padding-top: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    font-size: 7rem;
    margin-bottom: 450px;
    animation: animate 4s ease-in-out infinite;
    -webkit-text-stroke: 2px #B5CFB7;
    animation-fill-mode: both;
    color: #B5CFB7;

}

.henrique2{
  padding-top: 30px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    font-size: 7rem;
    margin-bottom: 450px;
    -webkit-text-stroke: 2px #B5CFB7;
    animation-fill-mode: both;
    color: transparent;

}

.main-home-container{
  margin-top: 250px;
}

.home-info-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 250px;
  width: 90vw;
}

.home-info{
  color: var(--main-text-color);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.4rem;
  width: 100%;
  margin-bottom: 50px;
  height: fit-content;
}

.home-message{
  width: 100%;
  color: var(--main-text-color);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
  height: fit-content;
  margin-bottom: 150px;
}

.home-logo-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 90vw;
  margin-top: 50px ;
}

.logo{
  height: 50px;
  margin:0 10px ;
  cursor: pointer;
}

@media (max-width: 900px){
  .henrique{
    -webkit-text-stroke: 1.3px #B5CFB7;
    color: black;
    font-size: 5rem;
    text-align: center;
    padding-top: 70px;
  }
  .henrique2{
    font-size: 5rem;
    text-align: center;
    padding-top: 70px;
    color: black;
  }
  .home-info{
    color: var(--highlight-text-color);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    width: 100%;
    margin-bottom: 50px;
    height: fit-content;
    margin-bottom: 30px;
  }
  .home-message{
    font-size: 1rem;
    margin-top: 0;
  }
}

@media (min-width: 900px){
  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    60% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }
}