

.navbar {
  position: absolute;
  background-color: var(--background-color);
  width: 90vw ;
  top: 0;
  height: 115px;
  display: flex;
  justify-content: center;
  margin: 0;
  margin-left: 5vw;
  margin-top: 0;
  z-index: 4;
  right: 5vw;
  box-shadow: 5px 5px 5px 5px black;
}

.button-collection {
  position: sticky;
  background-color: var(--background-color);
  display: flex;
  height: 100px;
  margin-top: -30px;
  padding-bottom: 0;
  position: fixed;
  z-index: 3;
}

.button-collection button {
  align-self: right;
  font-weight: bold;
  font-size: 1.3rem;
  height: 20px;
  padding-top: 50px;
  padding-bottom: 20px;
  margin-top: 30px;
  width: 100px;
  border-radius: 10px;
  border: 0;
  color: var(--main-text-color);
  background-color: var(--background-color);
  transition: ease 200ms;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

* {
  -webkit-tap-highlight-color: transparent;
}

@media (hover: hover) {
  .button-collection button:hover{
  padding-top: 60px;
  padding-bottom: 0;
  height: 120%;
  color: var(--accent-color);
  margin-bottom: 40px;
  background-color: var(--highlight-text-color);
  transition: ease 200ms;
  }
}

.navbar {
  margin: 0;
  margin-top: -10px;
}

/* MOBILE */
@media (max-width: 484px) {
  .button-collection{
    height: 20px;
  }
  .button-collection button {
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 4.5vw;
    width: 23vw;
    border-radius: 10px;
    border: 0;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-top: 60px; 
    -webkit-tap-highlight-color: transparent;
  }
  .button-collection button:active {
    color: var(--accent-color);
    background-color: var(--highlight-text-color);
  }
  .navbar {
    height: 90px;
  }
}

